# Data Science Tools and Ecosystem

In thos notebook, Data Science Tools and Ecosystem are summarized.

### Some of popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. C++
5. Go
6. SQL
7. Julia

### Some of the commonly used libraries used by Data Scientist include:

- Pandas
- NumPy
- SciPy
- Scrapy
- Matplatlib
- Seaborn
- Scikit-Leanr

|   Data    |
|:---------|
|Anaconda|
|R Studio|
|Spyder|
|Apache Spark|

#### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
#This a simple aritmetic expression to multiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutos to hours by diving by 60

200//60

3

### Objectives:

- Add comments to code cell
- Create markdown cells
- Format content of markdowm

### Autor

Katherinne Karla Flores Velasquez